footer {
  background-color: #222;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer a {
  color: #ddd;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
